<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>

 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>WallapopAdmin - Bandeja de Entrada</title>

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<script th:href="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
		<script th:href="@{/js/bootstrap.min.css}" src="../../js/bootstrap.min.js"></script>

  </head>
  
    		<script>
		function logout (){
			alert("Se ha cerrado su sesion.");
			
		}
		
		</script>

  <body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="padding: 7px;"><img th:src="@{https://lh3.googleusercontent.com/eiHGogXLz3iBRZhKrdr7FOkw6q5P_iuGSwqGWmd1yRzMcc-B7V6xIKR9wzuqDrD61K4=w300}" alt="Wallapop" height="38" width="38" /></a> 
        <a class="navbar-brand" th:href="@{/ADMproductos}">WallapopAdmin TIW</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><a th:href="@{/ADMproductos}"><span class="glyphicon glyphicon-list-alt"></span> Gestion Productos</a></li>
              <li ><a th:href="@{/ADMusuarios}"><span class="glyphicon glyphicon-user"></span> Gestion Usuarios</a></li>
              <li class="active" ><a th:href="@{/bandejaEntradaA}"><span class="glyphicon glyphicon-user"></span> Buzon Mensajes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a th:href="@{/cerrarSesionA}" onclick="return logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul> 
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <nav class="navbar">

      <ol class="breadcrumb" style="background-color: #23C5B2; color: white">
        <li><a href="@{ADMusuarios}" style="color: black;"><b>Buzon Mensajes</b></a></li>
        <li style="color: black"><b>Usuario Especifico</b></li>
      </ol>

    </nav>
     
	<div class="container well">
   <br></br>
   <br></br>
   <br></br>
   
		<h2>Lista de Mensajes</h2>
	
		<div class="row">
			<div id="entrada" class="col-md-3">
				<table class = "table table-hover">
					<thead>
						<tr>
							<th>Remitente</th>	
							<th>ID Mensaje</th>
							<th>Mensaje</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="mensaje: ${bandejaEntradaA}" onclick="'location'index.html'">
							<td th:text="${mensaje.IdEmisor}"></td>
							<td th:text="${mensaje.Id}"></td>
							<td th:text="${mensaje.mensaje}"></td>
							<td><a class="btn btn-info" th:href="@{'chatt?IdReceptor='+${mensaje.IdEmisor}}" role="button">Responder &raquo;</a></td>
							
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
                                
                   
    </div>
   	

      <footer style="background-color: #555;
      color: white;
      padding: 15px;">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
   
  </body>
</html>