<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>

 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>WallapopAdmin - Edicion Producto Especifico</title>

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<script th:href="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
		<script th:href="@{/js/bootstrap.min.css}" src="../../js/bootstrap.min.js"></script>

				<script>
		function logout (){
			alert("Se ha cerrado su sesion.");
			
		}
		
		</script>
  </head>

  <body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="padding: 7px;"><img th:src="@{https://lh3.googleusercontent.com/eiHGogXLz3iBRZhKrdr7FOkw6q5P_iuGSwqGWmd1yRzMcc-B7V6xIKR9wzuqDrD61K4=w300}" alt="Wallapop" height="38" width="38" /></a> 
        <a class="navbar-brand" th:href="@{/ADMproductos}">WallapopAdmin TIW</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="active"><a th:href="@{/ADMproductos}"><span class="glyphicon glyphicon-list-alt"></span> Gestion Productos</a></li>
              <li ><a th:href="@{/ADMusuarios}"><span class="glyphicon glyphicon-user"></span> Gestion Usuarios</a></li>
              <li><a th:href="@{/bandejaEntradaA}"><span class="glyphicon glyphicon-user"></span> Buzon Mensajes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a th:href="@{/cerrarSesionA}" onclick="return logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul> 
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <nav class="navbar">

      <ol class="breadcrumb" style="background-color: #23C5B2; color: white">
        <li><a href="@{ADMproductos}" style="color: black;"><b>Gestion Productos</b></a></li>
        <li style="color: black"><b>Producto Especifico</b></li>
        <li style="color: white"><b>Editar Producto</b></li>
      </ol>

    </nav>


	<div class="container well">
   
		<h2>Datos del Producto</h2>
		<h3>Formulario de Edición del Producto</h3>

                                
	<form th:action="@{/ModificarProductoA}" th:object="${producto}" class="form-signin" method="post" name="Form">
		<fieldset>
			

			<label for="titulo">Titulo:</label>
			<input th:field="*{titulo}" type="text" name="titulo" id="titulo" /><br/>
			
			<label for="categoria">Categoria:</label>
			<input th:field="*{categoria}" type="text" name="categoria" id="categoria" /><br/>
				
            <label for="descripcion">Descripcion:</label>
            <input th:field="*{descripcion}" type="text" name="descripcion" id="descripcion" /><br/>
			
			<label for="estado">Estado:</label>
			<input th:field="*{estado}" type="text" name="estado" id="estado" /><br/>
			
			<label for="ciudad">Ciudad:</label>
			<input th:field="*{ciudad}" type="text" name="ciudad" id="ciudad" /><br/>
			
			<label for="precio">Precio:</label>
			<input th:field="*{precio}" type="number" name="precio" id="precio" /><br/>
			
			
		</fieldset>
		<input type="submit" onclick="return validate()" value="Modificar" class="btn btn-info"/>

	</form>
		

                               
    </div>
    


      <footer style="background-color: #555;
      color: white;
      padding: 15px;">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

      

  </body>
</html>