<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>

 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>WallapopAdmin - Producto Especifico</title>

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<script th:href="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
		<script th:href="@{/js/bootstrap.min.css}" src="../../js/bootstrap.min.js"></script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="padding: 7px;"><img th:src="@{https://lh3.googleusercontent.com/eiHGogXLz3iBRZhKrdr7FOkw6q5P_iuGSwqGWmd1yRzMcc-B7V6xIKR9wzuqDrD61K4=w300}" alt="Wallapop" height="38" width="38" /></a> 
        <a class="navbar-brand" th:href="@{ADMproductos}">WallapopAdmin TIW</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="active"><a th:href="@{ADMproductos}"><span class="glyphicon glyphicon-list-alt"></span> Gestion Productos</a></li>
              <li ><a th:href="@{ADMusuarios}"><span class="glyphicon glyphicon-user"></span> Gestion Usuarios</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul> 
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <nav class="navbar">

      <ol class="breadcrumb" style="background-color: #23C5B2; color: white">
        <li><a href="@{ADMproductos}" style="color: black;"><b>Gestion Productos</b></a></li>
        <li style="color: black"><b>Producto Especifico</b></li>
      </ol>

    </nav>


    <div class="container text-center" style="padding: 15px">
      
     	<div class="row"> 
        <div class="col-md-8">
          <h2 th:text="${producto.titulo}">Titulo</h2>
        </div>


    <div class="col-md-4 ">

          <div class="row" >
            <div class="well">
              <h3 style="color: #23C5B2">Descripcion: <p th:text="${producto.descripcion}">Descripcion</p></h3>
              <h3> Categoria: <p th:text="${producto.categoria}">Cat</p></h3>
              <h3> Precio: <p th:text="${producto.precio}">Precio</p>/<h3>
             
              
            </div>
        </div>
      
        <div class="row" >
            <div class="well">
              <h3>Propietario: Usuario con ID <p th:text="${producto.usuario}">Usuario</p></h3>
              <p>Si estás interesado en este producto, puedes contactar con el vendedor: </p>
              <a class="btn btn-info" href="#" role="button" style="background-color: #23C5B2"><span class="glyphicon glyphicon-envelope"></span> CHAT</a>
            </div>
        </div>

      </div>
      </div>

      <div class="row well"> 

        <a class="btn btn-success " th:href="@{/ADMmodificarProducto/{producto.id}}" role="button" >Editar</a>
        <a class="btn btn-danger" role="button" th:href="@{/ADMeliminarProducto/{producto.id}}">Dar de baja</a>

      </div> 

    </div>
    

      <footer style="background-color: #555;
      color: white;
      padding: 15px;">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>


  </body>
</html>