<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>

 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Wallapop - Registro Producto</title>

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<script th:href="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
		<script th:href="@{/js/bootstrap.min.css}" src="../../js/bootstrap.min.js"></script>

<script>
function validate() {
			
			/*Validacion Titulo*/
				var n = document.forms["Form"]["titulo"].value;
				if (n==null || n=="") {
					alert("Por favor escriba el titulo del producto");
				return false;
				}
			
			/*Validacion Categoria*/
				var cat = document.forms["Form"]["categoria"].value;
				if (cat==null || cat=="") {
					alert("Por favor escriba la categoria del producto");
				return false;
				}
				
				/*Validacion Descripcion*/
				var d = document.forms["Form"]["descripcion"].value;
				if (d==null || d=="") {
					alert("Por favor rellene la descripción del producto");
				return false;
				}
				
				/*Validacion Ciudad*/
				var c = document.forms["Form"]["ciudad"].value;
				if (c==null || c=="") {
					alert("Por favor rellene su ciudad");
				return false;
				}
				
				
				
				/*Validacion Precio*/
				var p = document.forms["Form"]["precio"].value;
				if (p==null || p=="") {
					alert("Por favor indique el precio");
				return false;
				}
				
				var patron=/^\d+$/;/*expresion regular*/
				if ((patron.test(p))==false){
				alert("Por favor introduzca una precio valido. El precio no puede ser negativo");
				return false;
				}
			
				
			/*Registro correcto del producto*/
			alert("Se ha registrado el producto correctamente");
			return true;
				
		}

	</script>


  </head>

  <body>





    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="padding: 7px;"><img th:src="@{https://lh3.googleusercontent.com/eiHGogXLz3iBRZhKrdr7FOkw6q5P_iuGSwqGWmd1yRzMcc-B7V6xIKR9wzuqDrD61K4=w300}" alt="Wallapop" height="38" width="38" /></a> 
        <a class="navbar-brand" href="/">Wallapop TIW</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
               <li class="active"><a th:href="@{/home}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
              <li class="active"><a th:href="@{/misProductos}"><span class="glyphicon glyphicon-list-alt"></span> Mis productos</a></li>
			  <li><a th:href="@{/Perfil}"><span class="glyphicon glyphicon-user"></span> Mi perfil</a></li>
			  <li><a th:href="@{/bandejaEntrada}"><span class="glyphicon glyphicon-user"></span> Buzon Mensajes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a th:href="@{/}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul> 
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="padding: 15px">

  <div class="row">
    <div class="col-md-4">
      <div class="container well well-lg" style="background-color: white">
      
		  <h2 class="form-signin-heading text-center"><b>Da de alta un producto</b></h2>
          <h3 class="text-center">Ver&aacute;s que f&aacute;cil es vender!</h3>
        
        
        
        <form th:action="@{/altaProducto}" th:object="${producto}" class="form-signin" method="post" name="Form"> 
          
          <div class="form-group">
          <label for="titulo" class="sr-only">T&iacute;tulo del Producto</label>
          <input type="text" th:field="*{titulo}" name="titulo" th:id="titulo" class="form-control" placeholder="T&iacute;tulo del Producto" />
          </div>
  
          <div class="form-group">
          <label for="categoria" class="sr-only">Categoria</label>
          <input type="text" th:field="*{categoria}" name="categoria" id="categoria" class="form-control" placeholder="Categoria" />
          </div>

          <div class="form-group">
          <label for="descripcion" class="sr-only">Descripcion</label>
          <input type="text" th:field="*{descripcion}" name="descripcion" id="descripcion" class="form-control" placeholder="Descripci&oacute;n" />
          </div>
          
          <div class="form-group">
          <label for="ciudad" class="sr-only">Ciudad</label>
          <input type="text" th:field="*{ciudad}" name="ciudad" id="ciudad" class="form-control" placeholder="Ciudad" />
          </div>
          
          <div class="form-group">
           <label for="cantidad" class="sr-only">Precio</label>
           <input type="number" th:field="*{precio}" name="precio" id="precio" class="form-control" placeholder="Precio" />
  		  </div>
          
         
          <div id="anadirProducto">
             <button type="submit" onclick="return validate()" class="btn btn-lg btn-success btn-block">A&ntilde;adir Producto</button>
          </div>
        
        </form>

      </div> <!-- /container -->

    </div>
    <div class="col-md-8">
      <span><img class="img-responsive center-block" th:src="@{http://es.wallapop.com/images/banner.jpg}" alt="Wallapop" /></span>
    </div>
  </div>


    </div>

      <!-- Three columns of text below the carousel -->
      <div class="row" style="padding: 40px;">

      </div><!-- /.row -->

      <footer style="background-color: #555;
      color: white;
      padding: 15px;">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
   


  </body>
</html>