<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>

 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Wallapop - Mensaje</title>

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<script th:href="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
		<script th:href="@{/js/bootstrap.min.css}" src="../../js/bootstrap.min.js"></script>
		
		<script>
		function logout (){
			alert("Se ha cerrado su sesion.");
			
		}
		
		function enviarMensaje (){
			alert("Su mensaje ha sido enviado.");
			
		}
		</script>

  </head>

  <body>
  
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="padding: 7px;"><img th:src="@{https://lh3.googleusercontent.com/eiHGogXLz3iBRZhKrdr7FOkw6q5P_iuGSwqGWmd1yRzMcc-B7V6xIKR9wzuqDrD61K4=w300}" alt="Wallapop" height="38" width="38" /></a> 
        <a class="navbar-brand" href="/">Wallapop TIW</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
               <li class="active"><a th:href="@{/home}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
              <li class="active"><a :href="@{/misProductos}"><span class="glyphicon glyphicon-list-alt"></span> Mis productos</a></li>
			  <li><a th:href="@{/Perfil}"><span class="glyphicon glyphicon-user"></span> Mi perfil</a></li>
			  <li><a th:href="@{/bandejaEntrada}"><span class="glyphicon glyphicon-user"></span> Buzon Mensajes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a th:href="@{/cerrarSesion}" onclick="return logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul> 
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
  		<div>
  		
  		 </div>
  		    <br></br>
   <br></br>
   <br></br>
   					
	      
	        
			 	<form  th:action="@{/RegistroMensaje}" th:object="${mensaje}" method="post" class="form-horizontal">
			 	
                 
                   <div class="form-group">
                     <label  class="col-md-3"  for="exampleInputFile"><h5 class="text-center"><strong>Descripcion Mensaje</strong></h5></label> 
                    <div class="col-md-7">
                    <textarea th:field="*{mensaje}" id="mensaje" type="text" class="form-control" rows ="15" data-validation="required" data-validation-length="max400" data-validation-error-msg="Introduzca un mensaje" placeholder="Mensaje" name="mensaje"> </textarea>
                    <input type="hidden" th:field="*{IdReceptor}" />
                    
                  
                    
                    </div>
                  </div>
                  <br/>
                      <div id="sendMsgButon">
                        <button type="submit" class="btn btn-default btn-xl" name="Enviar" style="text-align:center" onclick="return enviarMensaje()">Enviar!</button>
                      </div>
                </form>
              
  
			   <br></br>
   <br></br>
   <br></br>

      <footer style="background-color: #555;
      color: white;
      padding: 15px;">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

  </body>
</html>
