<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>

 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Wallapop - Mis Productos</title>

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<script th:href="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
		<script th:href="@{/js/bootstrap.min.css}" src="../../js/bootstrap.min.js"></script>

  </head>

  <body>





    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="padding: 7px;"><img th:src="@{https://lh3.googleusercontent.com/eiHGogXLz3iBRZhKrdr7FOkw6q5P_iuGSwqGWmd1yRzMcc-B7V6xIKR9wzuqDrD61K4=w300}" alt="Wallapop" height="38" width="38" /></a> 
        <a class="navbar-brand" th:href="@{/home}">Wallapop TIW</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><a th:href="@{/home}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
              <li class="active"><a th:href="@{/misProductos}"><span class="glyphicon glyphicon-list-alt"></span> Mis productos</a></li>
              <li><a th:href="@{/Perfil}"><span class="glyphicon glyphicon-user"></span> Mi perfil</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a th:href="@{/}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul> 
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    
    <nav class="navbar">

      <ol class="breadcrumb" style="background-color: #23C5B2; color: white">
        <li><a th:href="@{/home}" style="color: black"><b>Home</b></a></li>
        <li><a th:href="@{/misProductos}" style="color: white" ><b><i>Mis Productos</i></b></a></li>
      </ol>

    </nav>

    <div class="container text-center" style="padding: 15px">
      <div class="row"> 

        <div class="col-md-3 well">
        	<h3> ¿Quieres vender cosas que ya no usas?</h3>
        	<h4> ¡Hazlo en Wallapop!</h4>
        	<h5>Bienvenido <span th:text="${uLogueado.email}">nombre</span></h5>
        	
        	<p><a class="btn btn-lg btn-success" th:href="@{/altaProducto}"> Nuevo Producto</a></p>
        </div>  

        <div class="col-md-9 well" style="background-color: white">
        
          <tr th:each="producto:${productos}" th:class="">
        
        	<tr class="col-md-4 well">
      
				
	          <h2><td th:text="${producto.titulo}">Titulo</td></h2>
	          <p><a class="btn btn-info" th:href="@{/producto}"  role="button">Ver Detalles &raquo;</a></p>
	          <p><a class="btn btn-info" th:href="@{/ModificarProducto}"  role="button">Modificar &raquo;</a></p>

	      
			</tr> 
	     </tr> 

      

      </div>
     </div>
    </div>


      <!-- Three columns of text below the carousel -->


      <footer style="background-color: #555;
      color: white;
      padding: 15px;">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    

  </body>
</html>