<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>

 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Wallapop - Modificar Producto</title>

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<script th:href="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
		<script th:href="@{/js/bootstrap.min.css}" src="../../js/bootstrap.min.js"></script>
		
		<script>
function validate() {
			
			/*Validacion Titulo*/
				var n = document.forms["Form"]["titulo"].value;
				if (n==null || n=="") {
					alert("Por favor escriba el titulo del producto");
				return false;
				}
			
			/*Validacion Categoria*/
				var cat = document.forms["Form"]["categoria"].value;
				if (cat==null || cat=="") {
					alert("Por favor escriba la categoria del producto");
				return false;
				}
				
				/*Validacion Descripcion*/
				var d = document.forms["Form"]["descripcion"].value;
				if (d==null || d=="") {
					alert("Por favor rellene la descripción del producto");
				return false;
				}
				
				/*Validacion Estado*/
				var est = document.forms["Form"]["estado"].value;
				if (est==null || est=="") {
					alert("Por favor introduzca el estado del producto");
				return false;
				}
				
				/*Validacion Ciudad*/
				var c = document.forms["Form"]["ciudad"].value;
				if (c==null || c=="") {
					alert("Por favor rellene su ciudad");
				return false;
				}
				
				
				
				/*Validacion Precio*/
				var p = document.forms["Form"]["precio"].value;
				if (p==null || p=="") {
					alert("Por favor indique el precio");
				return false;
				}
				
				var patron=/^\d+$/;/*expresion regular*/
				if ((patron.test(p))==false){
				alert("Por favor introduzca una precio valido. El precio no puede ser negativo");
				return false;
				}
			
				
			/*Registro correcto del producto*/
			alert("Se ha modificado el producto correctamente");
			return true;
				
		}

	</script>
	
	<script>
		function logout (){
			alert("Se ha cerrado su sesion.");
			
		}
		
		function borrar (){
			confirm("¿Esta seguro de que quiere realizar esta accion? Confirme el borrado.");
			
		}
		
		</script>

  </head>

  <body>





    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="padding: 7px;"><img th:src="@{https://lh3.googleusercontent.com/eiHGogXLz3iBRZhKrdr7FOkw6q5P_iuGSwqGWmd1yRzMcc-B7V6xIKR9wzuqDrD61K4=w300}" alt="Wallapop" height="38" width="38" /></a> 
        <a class="navbar-brand" th:href="@{/home}">Wallapop TIW</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><a th:href="@{/home}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
              <li><a th:href="@{/misProductos}"><span class="glyphicon glyphicon-list-alt"></span> Mis productos</a></li>
              <li class="active"><a th:href="@{/Perfil}"><span class="glyphicon glyphicon-user"></span> Mi perfil</a></li>
              <li><a th:href="@{/bandejaEntrada}"><span class="glyphicon glyphicon-user"></span> Buzon Mensajes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a th:href="@{/cerrarSesion}" onclick="return logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>            </ul> 
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <nav class="navbar">

      <ol class="breadcrumb" style="background-color: #23C5B2; color: white">
        <li><a th:href="@{/home}" style="color: black"><b>Home</b></a></li>
          <li><a th:href="@{/misProductos}" style="color: black"><b>Mis Productos</b></a></li>
        <li style="color: white" ><b><i>Modificar Producto</i></b></li>  
      </ol>

    </nav>

     
	<div class="container well">
   
		<h2>Datos del Producto</h2>
		<h3>Formulario de Edición del Producto</h3>

                                
	<form th:action="@{/ModificarProducto}" th:object="${producto}" class="form-signin" method="post" name="Form">
		<fieldset>
			

			<label for="titulo">Titulo:</label>
			<input th:field="*{titulo}" type="text" name="titulo" id="titulo" /><br/>
			
			<label for="categoria">Categoria:</label>
			<input th:field="*{categoria}" type="text" name="categoria" id="categoria" /><br/>
				
            <label for="descripcion">Descripcion:</label>
            <input th:field="*{descripcion}" type="text" name="descripcion" id="descripcion" /><br/>
			
			<label for="estado">Estado:</label>
			<input th:field="*{estado}" type="text" name="estado" id="estado" /><br/>
			
			<label for="ciudad">Ciudad:</label>
			<input th:field="*{ciudad}" type="text" name="ciudad" id="ciudad" /><br/>
			
			<label for="precio">Precio:</label>
			<input th:field="*{precio}" type="number" name="precio" id="precio" /><br/>
			
			
		</fieldset>
		<input type="submit" onclick="return validate()" value="Modificar" />

	</form>
		

                               
    </div>
   

      <footer style="background-color: #555;
      color: white;
      padding: 15px;">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
   
  </body>
</html>